@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #00193b;
}
.carousel .control-dots .dot {
  background: #ced4da;
}

.carousel .control-dots .dot.selected {
  background: #d1281e;
}
